.column {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.column iframe {
    height: 100%;
    width: 100%;
}

.column-header {
    display: flex;
    justify-content: space-between;
}