@import "~bootstrap/scss/bootstrap";

$main-col-width: 1000px;
$deck-width: 70px;

#newBody {
  display: flex;
  overflow-x: scroll;
}

#mainBody {
  min-width: $main-col-width;
  width: 100%;
}

#wrapper {
  display: flex;
}

#deck {
  width: $deck-width;
  height: 100vh;
}

.deck-icon-large {
  color: white;
  font-size: medium;
}

.column {
  height: 100%;
  border-left: 1px solid greenyellow;
}

.column iframe {
  height: 100%;
  width: 100%;
}
