@import "~bootstrap/scss/bootstrap";

$main-col-width: 1000px;
$deck-width: 60px;

#newBody {
  display: flex;
  overflow-x: scroll;
}

#mainBody {
  min-width: $main-col-width;
}

#mainBody .p-client {
  width: 100%;
}

#wrapper {
  display: flex;
}

#deck {
  text-align: center;
  width: $deck-width;
  height: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
}

#deckSpacer {
  min-width: $deck-width;
  width: $deck-width;
}

.deck-btn-icon-circle {
  color: white;
  font-size: large;
}

.deck-btn-icon-natural {
  color: white;
  font-size: x-large;
}

.btn-outline-primary-icon-color .deck-btn-icon-circle {
  color: $primary;
}

.btn-outline-primary-icon-color:hover .deck-btn-icon-circle {
  color: $light;
}

.column {
  height: 100%;
  border-left: 1px solid $primary;
  display: flex;
  flex-flow: column;
}

.column iframe {
  height: 100%;
  width: 100%;
}

.col-header {
  display: flex;
  justify-content: space-between;
}
